.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-inline: 2rem;
    position: relative;

    &__right {
        display: flex;
        gap: 1.5rem;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 3rem;
        }

    &__left-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__left-logo img {
        height: 40px; // Ajuste la hauteur du logo
        width: auto;
        
        }

    &__left-link {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
    }
    
.search-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 1000; // ✅ S'assurer qu'elle est bien au-dessus
}
}





