@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de l'écran */
  }
  
  main {
    flex-grow: 1; /* Le main prend tout l'espace disponible */
  }
  